{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "camelcase": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "quotes": [
      "error",
      "double"
    ],
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off"
  }
}